.set-user {
  text-align: center;
  border-radius: 6px;
}

.submit {
  background-color: rgb(48, 45, 59);
  border: 1px solid grey;
  color: white;
  border-radius: 3px;
  font-size: larger;
  cursor: pointer;
  padding: 2px 6px;
  margin-left: 1rem;
}

.disclaimer {
  font-size: 11px;
}
